<div id="room-container">
    {{!-- {{#eachProperty rooms}}
    <div>{{property}}</div>
    <a href="/{{property}}">Join</a>
    {{/eachProperty }} --}} 
    <a href="/first">FIRST YEAR </a>
    <a href="/second">SECOND YEAR</a>
    <a href="/third">THIRD YEAR</a>
    <a href="/fourth">FOURTH YEAR</a>
  </div>
  {{!-- <form action="/room" method="POST">
    <input name="room" type="text" required>
    <button type="submit">New Room</button>
  </form> --}}
{{!-- <script src="/index.js"></script> --}}
<script src="/chat.js"></script>
