  {{#if error}}
<div class="alert alert-danger">{{error}}</div>
{{/if}}
  <form class="login-form" action="/signup" method="POST" novalidate>
            <div class="form-control">
                <label for="name">name</label>
                <input type="text" name="name" id="name" >
            </div>
            <div class="form-control">
                <label for="email">E-Mail</label>
                <input type="email" name="email" id="email" >
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
            </div>
            <button class="btn" type="submit">Signup</button>
        </form>